<!DOCTYPE html>
<html>
<head>
    <title>UBasketManager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app.css">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body ng-app='app' ng-controller='ApplicationCtrl'>
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
              </button>
              <a class="navbar-brand" href="">UBasketManager</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <div ng-if='currentUser'>
                    <ul class="nav navbar-nav">
                        <li><a href="/#/posts">Home</a></li>
                        <li><a href="/#/roster">Roster</a></li>
                        <li><a href="/#/posts">Tournament</a></li>
                        <li><a href="/#/messages">Messages</a></li>
                        <li><a href="/#/shop">Shop</a></li>
                        <li><a href="/#/posts">Settings</a></li>
                        <li><a href="/#/" ng-click="logout()">Logout</a></li> 
                      </ul>
                    <p class="navbar-text navbar-right user-info">{{currentUser.username}}</p>
                </div>
              
              <ul class="nav navbar-nav navbar-right" ng-if='!currentUser'>
                <li><a href="/#/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li><a href="/#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
            </div>
        </div>
    </nav>
    
    <div ng-view class="body"></div>
    
    <!--SCRIPTS-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src='/app.js'></script>
</body>
</html>