<div class="container">
    <h1>My Team</h1>
    
    <div class="row">
        <div id="guard1" class="col-md-2 col-sm-2 col-xs-2 guard1 card" ondrop="drop(event)" ondragover="allowDrop(event)">
            <img class="card1-img" src="http://oi66.tinypic.com/21lr1it.jpg">
            <span id="guard1-ovr" class="card-ovr">{{currentTeam.guard1.ovr}}</span><span id="guard1-name" class="card-name {{currentTeam.guard1.type}}">{{currentTeam.guard1.name}}</span>
        </div>
        <div id="guard2" class="col-md-2 col-sm-2 col-xs-2 guard2 card" ondrop="drop(event)" ondragover="allowDrop(event)">
            <img class="card2-img" src="http://oi66.tinypic.com/21lr1it.jpg">
            <span id="guard2-ovr" class="card-ovr">{{currentTeam.guard2.ovr}}</span><span id="guard2-name" class="card-name {{currentTeam.guard2.type}}">{{currentTeam.guard2.name}}</span>
        </div>
        <div id="forward1" class="col-md-2 col-sm-2 col-xs-2 forward1 card" ondrop="drop(event)" ondragover="allowDrop(event)">
            <img class="card3-img" src="http://oi66.tinypic.com/21lr1it.jpg">
            <span id="forward1-ovr" class="card-ovr">{{currentTeam.forward1.ovr}}</span><span id="forward1-name" class="card-name {{currentTeam.forward1.type}}">{{currentTeam.forward1.name}}</span>
        </div>
        <div id="forward2" class="col-md-2 col-sm-2 col-xs-2 forward2 card" ondrop="drop(event)" ondragover="allowDrop(event)">
            <img class="card4-img" src="http://oi66.tinypic.com/21lr1it.jpg">
            <span id="forward2-ovr" class="card-ovr">{{currentTeam.forward2.ovr}}</span><span id="forward2-name" class="card-name {{currentTeam.forward2.type}}">{{currentTeam.forward2.name}}</span>
        </div>
        <div id="center" class="col-md-2 col-sm-2 col-xs-2 center card" ondrop="drop(event)" ondragover="allowDrop(event)">
            <img class="card5-img" src="http://oi66.tinypic.com/21lr1it.jpg">
            <span id="center-ovr" class="card-ovr">{{currentTeam.center.ovr}}</span><span id="center-name" class="card-name {{currentTeam.center.type}}">{{currentTeam.center.name}}</span>
        </div>
        <div id="sixthman" class="col-md-2 col-sm-2 col-xs-2 sixthman card" ondrop="drop(event)" ondragover="allowDrop(event)">
            <img class="card6-img" src="http://oi66.tinypic.com/21lr1it.jpg">
            <span id="sixthman-ovr" class="card-ovr">{{currentTeam.sixthman.ovr}}</span><span id="sixthman-name" class="card-name {{currentTeam.sixthman.type}}">{{currentTeam.sixthman.name}}</span>
        </div>
        <div id="coach" class="col-md-2 col-sm-2 col-xs-2 coach card" ondrop="drop(event)" ondragover="allowDrop(event)">
            <img class="card7-img" src="http://oi66.tinypic.com/21lr1it.jpg">
            <span id="coach-ovr" class="card-ovr">{{currentTeam.coach.ovr}}</span><span id="coach-name" class="card-name {{currentTeam.coach.type}}">{{currentTeam.coach.name}}</span>
        </div>
        <button onclick="saveChanges()">Save Changes</button>
    </div>
    
    <h2>Roster</h2>
    <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <!-- Accordion Element 1 -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Guards
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="list-group">
                      <li ng-repeat="card in roster | filter: card.pos='guard'" class="list-group-item">
                        <span id="{{card.name}}" draggable="true" ondragstart="drag(event)" class="{{card.type}}">{{ card.name }} {{ card.ovr }}</span>
                      </li>
                  </div>
                </div>
            </div>
            <!-- Accordion Element 2 -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Forwards
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="list-group">
                    <li ng-repeat="card in roster | filter: card.pos='forward'" class="list-group-item">
                        <span id="{{card.name}}" draggable="true" ondragstart="drag(event)" class="{{card.type}}">{{ card.name }} {{ card.ovr }}</span>
                    </li>
                  </div>
                </div>
            </div>
            <!-- Accordion Element 3 -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Centers
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="list-group">
                    <li ng-repeat="card in roster | filter: card.pos='center'" class="list-group-item">
                        <span id="{{card.name}}" draggable="true" ondragstart="drag(event)" class="{{card.type}}">{{ card.name }} {{ card.ovr }}</span>
                    </li>
                  </div>
                </div>
            </div>
            <!-- Accordion Element 4 -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Sixth Men
                    </a>
                  </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                  <div class="list-group">
                    <li ng-repeat="card in roster | filter: card.pos='6Man'" class="list-group-item">
                        <span id="{{card.name}}" draggable="true" ondragstart="drag(event)" class="{{card.type}}">{{ card.name }} {{ card.ovr }}</span>
                    </li>
                  </div>
                </div>
            </div>
            <!-- Accordion Element 5 -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      Centers
                    </a>
                  </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                  <div class="list-group">
                    <li ng-repeat="card in roster | filter: card.pos='coach'" class="list-group-item">
                        <span id="{{card.name}}" draggable="true" ondragstart="drag(event)" class="{{card.type}}">{{ card.name }} {{ card.ovr }}</span>
                    </li>
                  </div>
                </div>
            </div>
            
        </div>
        
    </div>
    
</div>